*, *::before, *::after {
	font: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background: inherit;
	line-height: inherit;
	box-shadow: none;
	box-sizing: border-box;
}

html, body, main, header, aside, nav {
	display: block;
}

html, body {
	height: 100%;
}

html {
	background: #FAF7F2;
}

body {
	font: 400 1rem sans-serif;
	color: #444;
	padding: 1rem 0;
	line-height: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"header header header header" 
		"aside main main main" 
		"footer footer footer footer";
	
	max-width: 60rem;
	justify-items: stretch;
	align-items: start;
	margin: 1rem auto;
}

header.main {
	grid-area: header;
}

main.main {
	grid-area: main;
}

aside.main {
	grid-area: aside;
	font-size: 85%;
}

footer.main {
	grid-area: footer;
}

main, header nav {
	
}


strong, b {
	font-weight: 600;
}

em, i {
	font-style: italic;
}

u {
	text-decoration: underline;
}

nav ul {
	list-style: none;
	line-height: 1;
	margin: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
}

nav {
	font-size: 85%;
	color: #444;
}

nav ul li + li:before {
	content: ' ';
	margin: 0 .5rem;
	font-size: 80%;
}

nav.path ul li + li:before {
	content: ' > ';
	color: #9E9E9E;
}

nav ul li a, nav ul li span {
	font-weight: 800;
}

nav.links {
	text-align: right;
}

nav.path ul li a {
	color: #0277BD;
}

main p + p {
	margin-top: 1.5rem;
}

form {
	margin-top: 1rem;
	padding: 0;
	padding-bottom: 1rem;
}

details summary {
	cursor: pointer;
}

/* Tree */
aside.main details {
	margin-top: 1rem;
}
aside.main details summary {
	font-weight: 600;
	color: #78909C;
}

aside.main details[open] > summary {
	color: #444;
}
aside.main ul {
	list-style: none;
}

aside.main ul li + li {
}

aside.main ul li ul li {
	margin-left: 1rem;
}

aside.main ul li a {
	font-weight: 600;
}

aside.main nav:before { 
	content: '[ ';
}

aside.main nav:after { 
	content: ' ]';
}

aside.main nav a {
	font-weight: 400;
	text-decoration: none;
}

.over .dropsign {
	border: .5rem #78909C dashed;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	width: 99vw;
	height: 99vh;
	transform: translate(-50%, -50%);
	z-index: 99;
	opacity: .5;
	pointer-events: none;
}

.over .dropsign:after {
	content: '\2795';
	font-size: 6rem;
	font-weight: 600;
}

.posts ul {
	margin: 1rem;
}

.posts ul li ul {
	margin: 0 1rem;
}

ul.index {
	list-style: none;
}

ul.index li + li {
	margin-top: 1rem;
}

ul.index li span.info {
	display: block;
	font-size: 80%;
}

ul.index li > a {
	color: #755;
	font-weight: 600;
	text-decoration: none;
}

span.info {
	font-style: italic;
}

ul.index + form, nav + form {
	margin-top: 2rem;
}

form legend {
	font-weight: 600;
}

form p {
	padding-top: 1.5rem;
}

form.anim p {
	position: relative;
}

form p + p {
	margin-top: 0;
}

label {
	font-weight: 600;
}

form span.desc {
	display: block;
	font-size: 90%;
	height: 1.5rem;
	transition: all 0.2s ease-out;
}

form p label {
	position: absolute;
	top: 0;
	font-size: 90%;
	opacity: 1;
	transform: translateY( 0 );
	transition: all 0.2s ease-out;
}

::placeholder {
	opacity: 1;
}

input, textarea, select, .btn {
	border-bottom: .2rem solid #9E9E9E;
	box-shadow: 0;
	outline: none;
}

input[type="text"], input[type="password"], textarea {
	padding: .5rem 0;
}

input[type="submit"], .btn {
	padding: .5rem 0;
	cursor: pointer;
	border-color: #0277BD;
	transition: all 0.2s ease-out;
}

label.btn {
	position: relative;
	font: inherit;
	transform: none;
}

.btn.upload {
	border-color: #FF6F00;
}

input[type="submit"].draft {
	border-color: #43A047;
}

input[type="submit"]:hover, .btn:hover {
	border-color: #0D47A1;
}

input[type="file"] {
	display: none;
}

input + input, input + .btn, .btn + input {
	margin-left: 2rem;
}

input:placeholder-shown + label, textarea:placeholder-shown + label {
	opacity: 0;
	transform: translateY( 1rem );
}

form.anim input[type="text"], form.anim input[type="password"], form.anim textarea {
	display: block;
	width: 100%;
}

[data-feature="autoheight"] {	
	height: 2.7rem;
	min-height: 2.7rem;
	resize: vertical;
}

[data-feature="autoheight"]:focus {
	min-height: 10rem;
}

input:invalid:not(:placeholder-shown) ~ span.desc::after, input:out-of-range + span.desc::after, textarea:invalid:not(:placeholder-shown) ~ span.desc::after {
	content: attr(data-validation);
}

input:read-only, textarea:read-only {
	border-color: #BBB;
	color: #555;
}

input:required:valid ~ span.desc, textarea:required:valid ~ span.desc, input:optional:valid:not(:placeholder-shown) ~ span.desc, textarea:optional:valid:not(:placeholder-shown) ~ span.desc {
	opacity: 0;
}

input:valid:not([type="submit"]):focus, textarea:valid:not([type="submit"]):focus {
	border-color: #263238;
}

input:invalid, textarea:invalid {
	border-color: #F33;
}

input:invalid:focus, textarea:invalid:focus {
	border-color: #F00;
}

input:invalid ~ span.desc, textarea:invalid ~ span.desc {
	color: #F33;
}

progress {
	height: .6rem;
	-webkit-appearance: none;
	-moz-appearence: none;
	appearance: none;
	opacity: 1;
	transition: all 0.2s ease-out;
}

form.anim progress {
	margin: 1rem 0 0 0;
	display: block;
	width: 100%;
}

progress::-webkit-progress-bar {
	background: #78909C;
}

progress::-moz-progress-bar {
	background: #78909C;
}

progress:not([value]), progress[value="0"] {
	opacity: 0;
}

figure img {
	width: 100%; 
	height: auto;
	border-bottom: 1px solid #78909C;
	padding-bottom: 1rem;
	margin-bottom: .5rem;
}

.preview {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.5rem;
}

.preview figure {
	display: inline-block;
}

.preview figure figcaption {
	font-size: .9rem;
	color: #444;
}

::selection {
	background: #E7DECA;
	color: #7B6737;
}

@media screen and (max-width: 50rem) { 
	body { padding: 1rem; }
	.preview { grid-template-columns: 1fr 1fr; }
}

@media screen and (max-width: 30rem) { 
	.preview { grid-template-columns: 1fr; grid-gap: 0; }
}
